.designBoxContent{
    background-image:url("../images/icons/key-icon.png");
    background-repeat: no-repeat;
    background-position:right top;
    min-height:100px;
}

.designBox{
    
}

.mainDiv{
       
}